{% extends '@Symfony6AdminLte/layout.html.twig' %}

{% block page_content %}
    <a class="btn btn-default" href="{{ path('symfony6-adminlte.settings.dataBase.connect') }}">Create connection</a>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Название</h3>
            <div class="card-tools btn-group">
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th>Alias</th>
                    <th>Connect</th>
                    <th>Charset</th>
                    <th>Active</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody>
                {% for dataBase in dataBases %}
                    {% set isActiveClass = dataBase.isActive ? "bg-primary" : "bg-danger" %}
                    <tr role="row" class="odd">
                        <td>{{ dataBase.alias }}</td>
                        <td>{{ dataBase.user }}:***@{{ dataBase.host }}:{{ dataBase.port }}/{{ dataBase.db }}</td>
                        <td>{{ dataBase.charset }}</td>
                        <td>
                            <a href="{{ path('symfony6-adminlte.settings.dataBase.activate', {'id': dataBase.id}) }}"
                               class="badge {{ isActiveClass }}">
                                {{ dataBase.isActive ? "enable" : "disable" }}
                            </a>
                        </td>
                        <td width="100">
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-default" href="{{ path('symfony6-adminlte.settings.dataBase.delete', {'id': dataBase.id}) }}">delete</a>
                                <a class="btn btn-default" href="{{ path('symfony6-adminlte.settings.dataBase.edit', {'id': dataBase.id}) }}">edit</a>
                                <a class="btn btn-default" href="{{ path('symfony6-adminlte.settings.dataBase.syncTables', {'id': dataBase.id}) }}">Sync Table</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Alias</th>
                    <th>Connect</th>
                    <th>Charset</th>
                    <th>Active</th>
                    <th>Tools</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}