{% extends '@DataAdmin/layout.html.twig' %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">config column
                <a href="{{ path('data_admin.list', {connectionString: connectionString}) }}">{{connectionString}}</a>
            </h3>
            <div class="card-tools btn-group">
                <a href="{{ path('data_admin.common.view.config', {connectionString: connectionString}) }}" class="btn btn-default btn-sm" title="table config">
                    <i class="fa fa-columns"></i>
                    Общие Настроики
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="300">Название</th>
                            <th width="10">list</th>
                            <th width="10">relation</th>
                            <th width="10">detail</th>
                            <th width="10">tooltip</th>
                            <th>values</th>
                            <th>config</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, column in columnViewConfig %}
                            {% if (column.name is defined )  %}
                            <tr id="column.{{ column.name }}">
                                <td>{{ column.name }}</td>
                                <td class="p-2">
                                    <div class="btn-group">
                                        {% set urlConfig = {
                                            link: 'data_admin.list.disable-column',
                                            config: {
                                                connectionString: connectionString,
                                                column: column.name
                                            },
                                            enable: ['enable', column.list == false ? 'yes' : 'no'] | join('=')
                                        }%}
                                        <a href="{{ [path(urlConfig.link, urlConfig.config), urlConfig.enable] | join('?') }}"
                                            class="ajax_toggle_button btn btn-sm btn-{{ column.list ? 'success': 'danger'}}">
                                            {{ column.list ? 'Y' : 'N' }}
                                        </a>
                                        {% if (compareConfig[key] | default) %}
                                            {% set compareValue = compareConfig[key].list %}
                                            <span class="btn btn-sm btn-{{ compareValue ? 'success': 'danger'}}">
                                                {{ compareValue ? 'Y' : 'N' }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="btn-group">
                                        <a href="#" class="ajax_toggle_button btn btn-sm btn-{{ column.relation ? 'success': 'danger'}}">
                                            {{ column.relation ? 'Y' : 'N' }}
                                        </a>
                                        {% if (compareConfig[key] | default) %}
                                            {% set compareValue = compareConfig[key].relation %}
                                            <span class="btn btn-sm btn-{{ compareValue ? 'success': 'danger'}}">
                                                {{ compareValue ? 'Y' : 'N' }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="btn-group">
                                        {% set urlConfig = {
                                            link: 'data_admin.detail.disable-column.config',
                                            config: {
                                                connectionString: connectionString,
                                                column: column.name
                                            },
                                            enable: ['enable', column.detail == false ? 'yes' : 'no'] | join('=')
                                        }%}
                                        <a href="{{ [path(urlConfig.link, urlConfig.config), urlConfig.enable] | join('?') }}"
                                            class="ajax_toggle_button btn btn-sm btn-{{ column.detail ? 'success': 'danger'}}">
                                        {{ column.detail ? 'Y' : 'N' }}
                                        </a>
                                        {% if (compareConfig[key] | default) %}
                                            {% set compareValue = compareConfig[key].detail %}
                                            <span class="btn btn-sm btn-{{ compareValue ? 'success': 'danger'}}">
                                                {{ compareValue ? 'Y' : 'N' }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="btn-group">
                                        <a href="#" class="ajax_toggle_button btn btn-sm btn-{{ column.tooltip ? 'success': 'danger'}}">
                                        {{ column.tooltip ? 'Y' : 'N' }}
                                        </a>
                                        {% if (compareConfig[key] | default) %}
                                            {% set compareValue = compareConfig[key].tooltip == true %}
                                            <span class="btn btn-sm btn-{{ compareValue ? 'success': 'danger'}}">
                                                {{ compareValue ? 'Y' : 'N' }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="p-0">
                                    {% if (column.values | default) %}
                                    <div class="example-data-box">
                                    <pre>{{ column.values | default([]) | join('\r\n')}}</pre>
                                    </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        {% set configColumnUrl = path('data_admin.common.column.view.config', {
                                            connectionString: connectionString,
                                            columnName: column.name
                                        }) %}
                                        <a class="btn btn-default" href="{{configColumnUrl}}">Column config</a>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ column | json_encode }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby=""></div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby=""></div>
            </div>

        </div>
    </div>
    <script>
        $(function () {
            $('.ajax_toggle_button').click(function () {
                let that = $(this);
                let href = that.attr('href');
                $.get(href, function () {
                    let success = that.hasClass('btn-success')
                    that.removeClass('btn-success');
                    that.removeClass('btn-danger');
                    that.addClass(success ? 'btn-danger' : 'btn-success');
                    that.html(success ? 'N' : 'Y');
                });

                return false;
            });
        })
    </script>
    <style>
        .example-data-box {
            width: 200px;
            height: 35px;
            overflow-y: hidden;
        }
        .example-data-box:hover {
            height: auto;
        }
    </style>


{% endblock %}